VITE_SOLANA_CLUSTER=localnet
VITE_SOLANA_RPC_URL=http://127.0.0.1:8899
VITE_AUCTION_PROGRAM_ID=5dKLaVXqzR6Ja4GpkfseLCuPGDdnUFZ4cs6YkUSzMTdF

# After deploying the program, switch to Devnet with:
# VITE_SOLANA_CLUSTER=devnet
# VITE_SOLANA_RPC_URL=https://api.devnet.solana.com
# VITE_AUCTION_PROGRAM_ID=5dKLaVXqzR6Ja4GpkfseLCuPGDdnUFZ4cs6YkUSzMTdF
